* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Fredericka the Great', sans-serif;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    display: flex;
    background-color: white;
    min-height: max-content;
    width: 500px;
    border-radius: 8px;
    padding: 3rem;
}

.quote-box {
    /* background-color: lightgrey; */
    width: 400px;
    margin: 0 auto;
    
}

.quote-text {
    font-size: 28px;
    /* background-color: lightblue; */
    text-align: center;
    margin-bottom: 20px;
}

.author-text {
    text-align: right;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.button-box {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.tweet-quote {
    text-decoration: none;
}

.twitter-logo {
    position: absolute;
    left: 4rem;
    height: 40px;
}

.button {
    color: white;
    width: 100px;
    height: 40px;
    background-color: black;
    border: 0;
    border-radius: 5px;
}


